.todo-container {
  width: 300px;
  max-width: 70vw;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  font-family: sans-serif;
}

.todo-header {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #0f1011; 
}

.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.task-input {
  width: 60%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #4287d1;
  transition: border-bottom-color 0.3s ease-in-out;
}

.task-input:focus {
  border: none;
  border-bottom-color: #54718f;
}

.add-button {
  padding: 8px 10px;
  border: none;
  border-radius: 50%;
  background-color: #eeeeee; 
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-button:hover {
  background-color: #2dc01f; 
}

.task-list {
  margin-top: 20px;
  padding: 10px;
  list-style-type: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: pre-wrap;
  max-width: 100%; 
  word-break: break-all; 
  margin-bottom: 10px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f9fa;
  font-family: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.task:hover {
  background-color: #fff;
}

.remove-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #eeeeee; 
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.remove-button:hover {
  background-color: #c82333; 
}

@media (max-width: 768px) {
  .todo-container {
    width: 90%;
    padding: 10px;
    max-height: 80vh; 
    overflow-y: auto; 
  }

  .task-input {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .todo-container {
    width: 90%;
    padding: 10px; 
  }
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: pre-wrap;
  max-width: 100%; 
  word-break: break-all; 
  margin-bottom: 10px;
}