.todo-container {
  width: 300px;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  font-family: sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.todo-header {
  font-size: 28px;
  font-weight: bold;
  color: #0f1011;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.task-input {
  flex: 1;
  padding: 12px;
  border: 2px solid #4287d1;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  margin-right: 10px;
}

.add-button {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-button:hover {
  background-color: #0056b3;
}

.toggle-list-button {
  background-color: #f9f9f9;
  color: #333;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.toggle-list-button:hover {
  background-color: #ddd;
}

.task-list {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  display: block;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: pre-wrap;
  max-width: 100%;
  word-break: break-all;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f8f9fa;
  font-family: inherit;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.task:hover {
  background-color: #ffffff;
}

.remove-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #dc3545;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.remove-button:hover {
  background-color: #c82333;
}

body {
  font-family: sans-serif;
}

@media (max-width: 768px) {
  .todo-container {
    width: 80%;
  }

  .task-input {
    font-size: 16px;
    padding: 12px 10px;
  }

  .add-button {
    font-size: 16px;
    padding: 12px 15px;
  }

  .toggle-list-button {
    font-size: 16px;
    padding: 10px 15px;
  }

  .task {
    font-size: 16px;
    padding: 8px 10px;
  }

  .remove-button {
    font-size: 16px;
    padding: 10px 15px;
  }
}
